file:
  upload-dir: ./uploads

spring:
  # 데이터베이스 설정
  datasource:
    url: ${DB_URL:jdbc:mariadb://localhost:3306/saju_db}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  # JPA설정
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
        #배치 처리 최적화
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: 3000ms
  # 메일 설정
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connection-timeout: 5000
          timeout: 5000
          write-timeout: 5000
  # swagger
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

toss:
  client-key: ${TOSS_CLIENT_KEY}
  secret-key: ${TOSS_SECRET_KEY}
  base-url: https://api.tosspayments.com/v1/payments
  confirm-endpoint: /confirm
  cancel-endpoint: /%s/cancel

jwt:
  secret: ${JWT_SECRET}
  access-token-expiry: 3600000   # 1시간 (밀리초)
  refresh-token-expiry: 604800000 # 7일 (밀리초)

firebase:
  credentials-path: ${FIREBASE_CREDENTIALS_PATH:saju-tarot-8bdd07ef4829.json}
